nav {
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.navlinks {
    margin: 20px;
    list-style: none;
    text-decoration: none;
    padding: auto;
    display: flex;
    justify-content: flex-end;
    margin-left: 650px;
}

.navlinks li {
    display: inline-block;
    margin: 10px;
}

.navlinks li a {
    text-decoration: none;
    color: white;
    font-weight: ;

}
button {
    width: 146px;
    height: 39px;
    top: 76px;
    left: 1225px;
    background-color: #FF0B80;
    border: none;
    border-radius: 20px;

}

button a {
    text-decoration: none;
    color: white;
    font-weight: ;
}
.mylogo {
    position: absolute;
    height: auto;
    left: 0px;
    width: 250px;
    
}
#container {
    display: flex;
}
h1 {
    font-weight: bold;
    font-size: 70px;
    color: black;
}

#color {
    background-color: white;
    
    
}

section {
    background-color: blue;
}
#footer {
    display: flex;
    justify-content: space-between;
    margin: ;
    color: white;
    background-color:  #FF0B80;
    font-size: 20px;
    text-align: center;
}
#abody {
    display: flex;
}
#abody h1 {
    font-size: 80px;
} 
#kid {
    margin-right: -300px;
    margin-bottom: -60px;
    justify-content: right;
}

section{
    width: -100px;
}
h1 {
    text-align: center;
    font-size: 50px;
}
#content {
    display: flex;
    justify-content: space-around;
    margin-right: 18px;
}
#cu {
    width: 500px;
}
p{
    font-size: 30px;
    width: 500px;
}
h2 {
    font-size: 40px;
}

#acontent {
    display: flex;
    justify-content: space-around;
    margin-right: 18px;
}
div {
    margin-top: 60px;
    
}

#cont {
    display: flex;
    justify-content: center;
    margin-right: 18px;
}

h1 {
    text-align: center;
    font-size: 40px;
}
p {
    text-align: center;
    font-size: 20px;
}

img {
   justify-content: center;
}
#tutorial {
    text-align: center;
    background-color: transparent;
    width: 100%;
    margin: 20px auto;
    padding: 20px;
}
#tutorial h1, #tutorial p{
    width: 100%;
    color: #000;
    max-width: 750px;
    margin: auto;
} 
#fea {
    font-size: 50px;
    text-align: center;
    color: black;
}

h3 {
    text-align: left;
    font-size: 30px;
    padding-left: 160px;
}
#page {
    text-align: center;
}
#flex {
    display: flex;
    justify-content: space-around;
}
#tutorial {
    background-color: green;
}
#rec {
    color: white;
}
#secondflex {
    display: flex;
    justify-content: space-around;
}
.secrec {
    width: 485px;
    height: 425px;
    top: 4829px;
    left: 775px;
    gap: 0px;
    opacity: 0px;

}
#say {
   
text-align: center;


}
#people {
    width: 679px;
height: 679px;
top: 5773px;
left: 18px;
gap: 0px;
opacity: 0px;

}
#purple {
    display: flex;
    justify-content: space-between;
    background-color: purple;
}
#come {
    font-family: Century Gothic;
    font-size: 24px;
    font-weight: 700;
    line-height: 44.31px;
    text-align: left;
    margin-top: 200px;
    
}
#my-footer {
    display: flex;
    justify-content: space-between;
    background-color: skyblue;
}
#last {
   
    text-align: center;
}
ul {
    margin: 20px;
    list-style: none;
    text-decoration: none;
    justify-content: flex-end;
    
}
ul li {
    margin: 20px;
    list-style: none;
}

ul a{
    text-decoration: none;
    color: black;

}
