nav {
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.navlinks {
    margin: 20px;
    list-style: none;
    text-decoration: none;
    padding: auto;
    display: flex;
    justify-content: flex-end;
    margin-left: 650px;
}

.navlinks li {
    display: inline-block;
    margin: 10px;
}

.navlinks li a {
    text-decoration: none;
    color: white;
    font-weight: ;

}
button {
    width: 146px;
    height: 39px;
    top: 76px;
    left: 1225px;
    background-color: #FF0B80;
    border: none;
    border-radius: 20px;

}
.mylogo {
    position: absolute;
    height: auto;
    left: 0px;
    width: 250px;
    
}
#container {
    display: flex;
}
h1 {
    font-weight: bold;
    font-size: 70px;
    color: white;
}

body {
    background-color: blue;
    height: 100vh;
    width: 100%;
    
}
#footer {
    display: flex;
    justify-content: space-between;
    margin: ;
    color: white;
    background-color:  #FF0B80;
    font-size: 30px;
    text-align: center;
}

#abody {
    display: flex;
}

#kid {
    margin-right: -300px;
}

section{
    width: -100px;
}