h1 {
    text-align: center;
    font-size: 50px;
}
#content {
    display: flex;
    justify-content: center;
    margin-right: 18px;
}
#cu {
    width: 500px;
}
p{
    font-size: 30px;
    width: 500px;
}
h2 {
    font-size: 40px;
}

#acontent {
    display: flex;
    justify-content: center;
    margin-right: 18px;
}
div {
    margin-top: 60px;
    
}

#cont {
    display: flex;
    justify-content: center;
    margin-right: 18px;
}